/* ----------------------------------- */
/* --------- badges ------------------ */
/* ----------------------------------- */
.badge {
  font-weight: normal;
  padding: .25em .75em;
}

.ir-badge-header{
 	line-height:2em; 
 	display:inline-block;
 	vertical-align:middle;
 	height:2.5em;
}

.ir-badge-restrictedaccess {
  background-color: darkred;
  color: white;
 
}
.ir-badge-openaccess {
  background-color: darkgreen;
  color: white;
}
.ir-badge-ocr {
  background-color: #004A99;
  color: white;
}

/* ----------------------------------- */
/* --------- docdetails -------------- */
/* ----------------------------------- */
table.ir-table-docdetails th{
	font-variant: petite-caps;
    font-weight:normal;
}

table.ir-table-docdetails:empty {
    margin-bottom: 0px;
}

table.ir-table-docdetails{
	margin-bottom:30px;
}

table.ir-table-docdetails hr{
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

table.ir-table-docdetails > tbody > tr > th {
	width: 175px;
	font-weight: normal;
	background-color: #e6e6e6;
    vertical-align:top;
	border: 5px solid white;
	padding:5px;
}

table.ir-table-docdetails > tbody > tr > td {
	border: 5px solid white;
	padding:5px;
}

table.ir-table-docdetails-values{
	width:100%;
}

table.ir-table-docdetails-values tr th{
	vertical-align: baseline;
	width:8em;
}

table#ir-table-docdetails-name_personal th,
table#ir-table-docdetails-name_corporate th,
table#ir-table-docdetails-name_conference th{
	width:3em;
}

table#ir-table-docdetails-name_personal tr:first-of-type td,
table#ir-table-docdetails-name_corporate tr:first-of-type td,
table#ir-table-docdetails-name_conference tr:first-of-type td{
	padding-bottom:0px !important;
}

span.ir-table-docdetails-values-label{
	font-style:italic;
	padding-left:1em;
}

table.ir-table-docdetails-values tr td{
	padding-bottom:5px;
}
table.ir-table-docdetails-values tr:last-of-type td {
	padding-bottom:0px;
}
